*.profile
*.lock
*.conflict
*.DS_Store
*.zip
*.rdb

.project
.settings
.idea

*.sublime*
config.json
config*.json
deploy.json
/node_modules
/index.js
/test/*.js
/lib/*.js
*.log

coverage/
.nyc_output/
lcov.info
